*.aux
*.log
*.mat
*.nav
*.out
*.snm
*.toc
*.vrb
*.iml
src/java/com/Test/
/.idea
.idea
.vscode
.DS_Store
*/Test.Production/*
bin/
jar/
profile_results_*/
system-planning-toolbox-*
src/matlab/com/springbok/simulation/*/*.pdf
